.dash{
  width: 100%;
  min-height: 65vh;
  padding: 1rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.dash--storybook-test{
  background-color: rgb(112, 195, 228);
  min-height: 100vh;
}

.card.card--ind-add{
  max-width: 12rem;
  border: 3px dashed rgb(175, 175, 175);
  background: rgba(255, 255, 255, 0.95);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
