/* NOTE Component Modifers
Holds custom component styling */

#lorem{
  height: auto;
}

#cat{
  height: auto;
}

.card.card__content > .image{
  max-height: 15rem;
}

#add-cards{
  max-width: 12rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

#add-cards > .card__header{
  border-bottom: 0;
}

.btn--add-cards{
  height: 8rem;
  width: 8rem;
  border-radius: 5rem;
  font-size: 5rem;
  background: var(--primaryBlue);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn--add-cards:hover{
  background: var(--primaryActBlue);
}
.btn--add-cards:active{
  background: var(--primaryActBlue);
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
}

.btn--page-info{
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  height: 3rem;
  width: 3rem;
  border-radius: 1.5rem;
  background: var(--info);
  font-size: 1.5rem;
  font-weight: 500;
  font-family: Helvetica, Arial, sans-serif;
}
.btn--page-info:hover{
  background: var(--infoAct);
}
.btn--page-info:active{
  background: var(--infoAct);
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
}