:root{
  --primaryBlue: #2196F3;
  --primaryActBlue: #1d7cca;
  --info: #00BCD4;
  --infoAct: #0098ac;
  --danger: #F44336;
  --dangerAct: #c5382e;
  --warn: #FFEB3B;
  --warn: #dbc605;
  --success: #4CAF50;
  --success: #3c8b3f;
}


.btn{
  z-index: 1;
  border: 0 solid transparent;
  border-radius: 4px;
  padding: 6px 12px;
  margin: 4px 8px;
  color: white;
  user-select: none;
  font-size: 1rem;
}

.btn:not(.btn--close){
  box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.1);
}

.btn--std{
  background: var(--primaryBlue);
}
.btn--std:hover{
  background: var(--primaryActBlue);
}
.btn--std:active{
  background: var(--primaryActBlue);
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
}

.btn--submit{
  background: var(--primaryBlue);
}
.btn--submit:hover{
  background: var(--primaryActBlue);
}
.btn--submit:active{
  background: var(--primaryActBlue);
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
}

.btn--info{
  background: var(--info);
}
.btn--info:hover{
  background: var(--infoAct);
}
.btn--info:active{
  background: var(--infoAct);
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
}

.btn--close{
  color: grey;
  background: transparent;
  border: 0 solid transparent;
  font-size: 1.5rem;
}
