:root{
  --primaryBlue: #2196F3;
  --info: #00BCD4;
  --danger: #F44336;
  --warn: #FFEB3B;
  --success: #4CAF50;
}


.btn{
  z-index: 1;
  border: 0 solid transparent;
  border-radius: 4px;
  padding: 4px 8px;
  margin: 4px 8px;
  color: white;
  user-select: none;
}

.btn:not(.btn--modal-header){
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
}

.btn--std{
  background: var(--primaryBlue);
}

.btn--info{
  background: var(--info);
}

.btn--modal-header{
  color: grey;
  background: transparent;
  border: 0 solid transparent;
}